.footer {
  width: 100%;
  padding: 10px 0;
  background-color: #1a1f25;
  border-top: 1px solid #2c3139;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
}

.footer-text {
  color: #9ea5ad;
  font-size: 13px;
  letter-spacing: 0.4px;
  opacity: 0.75;
}


.footer-text span {
  color: #76abae;
  font-weight: 600;
}